
/*HEADER*/

nav {
  background: #416165;
  color: #D9DBF1;
  height: 5em;
  /*padding-top: .5em;*/
}

#logo-img {
  height: 4em;
  width: 4em;
  /*display: inline;*/
  margin-top: .5em;
}

#app-name {
  margin-top: .1em;
}

#nav-mobile {
  margin-top: .1em;
}

#main-header {
  display: flex;
  justify-content: space-between;
}
/*FOOTER*/

small  {
  font-size: 15px;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer div a  {
  color: #D9DBF1;
  padding-bottom: 1em;
}

footer.page-footer {
  background: #416165;
  color: #D9DBF1;
}


/*BUTTONS*/

section {
  display: flex;
  justify-content: space-between;

}


.btn-large  {
  height: 40vh;
  width: 40vw;
  margin: 1em;
  background: #0B3948;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.btn-large:hover {
  background-color: #D0CDD7;
  color: #0B3948;
}

#poetry:hover {
  background-color: #D0CDD7;
  color: #0B3948;
}

h4:hover  {
  color: #0B3948;
}

h4  {
  color: #D9DBF1;
}

/*MAIN*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #0B3948;
  justify-content: space-between;
  background-image: url("assets/Paper Patterns/handmadepaper/handmadepaper_@2X.png");

}

main {
  flex: 1 0 auto;
}

p   {
  color: #0B3948
}
/*MODAL*/

#modal1 {
  max-height: 100%;
}

textarea  {
  height: 40vh;
  width: 50vw;
  border: 2px solid #D0CDD7;
  background-image: url("assets/Paper Patterns/handmadepaper/handmadepaper_@2X.png");
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.word-restrictions {
  padding-left: 1em;
  color: #C32F27;
}

h6  {
  font-size: 16pt;
  color: #C32F27;
}

/*ARCHIVE*/

#main-archive {
  margin-left: 5em;
  margin-right: 5em;
}

/*.populate-stories .card .card-content p {
  margin-top: .5em;
  margin-bottom: .5em;
  height: 15em;
  overflow: hidden;
}

.populate-stories .card .card-content p:hover {
  overflow:scroll;
}*/

/*QUERIES*/

@media (max-width:641px)  {
  section {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}
